@page
@model CollaBoard.Pages.RoomModel

@using CollaBoard.Pages.Partials.Models
@{
}

<div>
    <h1>Room @Model.Name</h1>
    <h3 id="Participants">Particpants: @Model.AmountParticipants</h3>
    <h3>Time remaining: @Model.TimeRemaining</h3>
</div>
<div class="container-xl">
    <div class="row m-1" style="height: 661px">
        <div class="col border border-success border-3 m-1">



            <div class="row">
                <div class="col">
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Launch demo modal
                        </button>
                    </div>
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                </div>
                <div class="col">
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                </div>
                <div class="col">
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                    @await Html.PartialAsync("~/Pages/Partials/_Card.cshtml", new _CardModel { Text = "Installatie bij CNDG verliep vlot, dankzij mij natuurlijk. Want ik ben de allerbeste." })
                </div>
            </div>


        </div>
    </div>
</div>

@await Html.PartialAsync("~/Pages/Partials/_AddCardModal.cshtml")

<script>
    var connection = getWebSocketConnection("https://localhost:44352", "Participants");

    connection.start().then(function () {
        console.log("Connection with SignalR succesful!");
        JoinRoom();
    }).catch(function (err) {
        console.log("Connection with SignalR failed!");
    });

    function JoinRoom() {
        connection.invoke("JoinGroup", "@Model.Id");
    };

    connection.on("UpdateParticipants", function (participants) {
        var element = document.getElementById("Participants");
        element.innerText = "Participants: " + participants;
    });
</script>


