@model CollaBoard.Pages.Partials.Models._CardModel

    <div class="card">
        <div class="card-body">
            <p class="card-tex ">
                @Model.Text
            </p>
        </div>
    </div>